{% extends '::index.html.twig' %}

{% block title %}
	{{ parent() }}
	- Hello !

{% endblock %}

{% block titrePage %}Recherche de fiche d'activité{% endblock %}

{% block contenu %}
	<form action="{{ path('recherche') }}" method="post">
    
		<input  type="text" id="motCle" name="motCle" value="Recherche"/>
		<input  type="number" id="age" name="age" value="Age"/>
        </br>
		<input type="checkbox" id="titre" name="titre" />
        <label for="titre">Titre</label>
		<input type="checkbox" id="descriptif" name="descriptif" />	
        <label for="descriptif">Description</label>
        <button type="submit">Rechercher</button>
	</form>

<ul>
    <li> titre - descriptif</li>
    </br></br>
{% for resultat in resultats %}

    <li>
    -------------------------------------------</br>

    <u>Titre</u> : {{ resultat.titre }}</br>
    <u>Descriptif</u> : {{ resultat.descriptif }}</br>
    <u>Age min</u> : {{ resultat.ageMin }}</br>
    <u>Age max</u> : {{ resultat.ageMax }} </li>

    </br></br>
{% endfor %}

</ul>


{% endblock %}

